@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000D1E;
    font-family: Onest;
    overflow-x: hidden;
    padding: 0 2rem;
}

nav {
    justify-content: space-between;
display: flex;
    max-width: 1280px;
    margin: 0 auto;
}

.logo  {
    display: flex;
    justify-content: center;
    align-items: center;
margin-top: 1rem;
    gap: 1rem;
}



.nav {
    display: flex;
    width: 14.188rem;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

.logo h2 {
    color: #FFF;
    text-align: center;

    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;

}
.nav h2, .nav h3 {
    color: rgba(255, 255, 255, 0.68);
    text-align: center;

    font-size: 1rem;
    font-style: normal;
    font-weight: 600;

}


.mainImg {

width: 30rem;


}



.login {
    width: 14.188rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login button {
    all: unset;
padding: 12px 24px;
    border-radius: 2rem;
    border: 1px solid #163354;
    color: #FFF;
    text-align: center;

    font-size: 0.7rem;
    font-style: normal;
    font-weight: 700;
}

header {
    display: flex;
    max-width: 1280px;
    margin: 4rem auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.headerBtnBg {
    background: linear-gradient(225deg, rgba(108, 169, 230, 0.2) 0%, rgba(163, 178, 247, 0.2) 50%, rgba(0, 181, 255, 0.2) 100%);
    border-radius: 62.4375rem;
}

.headerBtnContent {
    border-radius: 62.4375rem;
    background: linear-gradient(97deg, rgba(202, 183, 255, 0.04) 0%, rgba(255, 155, 197, 0.04) 50%, rgba(255, 202, 149, 0.04) 100%);
    box-shadow: 0px -4px 12px 0px rgba(212, 158, 255, 0.12) inset;
    backdrop-filter: blur(3px);
    padding: 0.2rem 0.7rem;
}

.headerBtnContent h2 {
    background: linear-gradient(95deg, #6CA9E6 0%, #A3B2F7 50%, #00B5FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 0.875rem;
    font-weight: 600;
}

header h3 {
    margin-top: 1rem;
    color: rgba(255, 255, 255, 0.83);
    text-align: center;
    font-family: Onest;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 5rem; /* 111.111% */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header h4 {
    text-align: center;
    background: linear-gradient(270deg, #8CD4EC 16.74%, #2F5476 100%);
    background-size: 200% 200%; /* Zwiększenie rozmiaru tła, aby animacja była widoczna */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Onest;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 5rem;
    animation: gradientAnimation 3s ease infinite; /* Czas trwania animacji, styl i powtarzanie */
}

header h5 {
    margin: 3rem;
    color: rgba(255, 255, 255, 0.74);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header h6 {

    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;


}

header img {
    margin-top: 3rem;
}
.mainH6 {
    margin-top: -6.4rem;
}

.headerEmailContainer {
    display: flex;
    gap: 2rem;
    margin-bottom: 5rem;
}

.headerEmailContainer input {
    all: unset;
    border-radius: 0.3125rem;
    border: 1px solid #23334D;
    background: rgba(57, 61, 76, 0.56);
    backdrop-filter: blur(30px);
    color: rgba(255, 255, 255, 0.45);
    text-align: start;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0.5rem 0.88rem;
}

.headerEmailContainer button {
    all: unset;
    border-radius: 0.3125rem;
    background: radial-gradient(110.23% 82.81% at 50% 17.19%, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.04) 100%), radial-gradient(172.39% 156.26% at 105.11% -15.62%, rgba(19, 229, 213, 0.50) 19.66%, rgba(19, 229, 213, 0.06) 71.06%), radial-gradient(93.05% 104.93% at 20.17% -22.66%, #1D52A0 0%, rgba(29, 82, 160, 0.18) 100%), radial-gradient(135.71% 87.74% at 33.81% 109.38%, rgba(102, 129, 226, 0.81) 0%, rgba(102, 129, 226, 0.00) 95.37%), #EEF9FF;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.50) inset, -20px -20px 50px 0px rgba(182, 117, 222, 0.40), 0px 20px 60px 0px rgba(98, 118, 224, 0.20), 0px 10px 60px 0px rgba(41, 142, 174, 0.80);
    color: rgba(96, 96, 96, 0.90);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0.5rem 0.88rem;
}

.headerImg {
    position: relative; /* Już jest */
    max-width: 79.5rem;
    z-index: 4; /* Upewnij się, że z-index jest większy */
    width: 100%;
    height: 35.125rem;
    border-radius: 1.25rem;
    overflow: hidden;
    background: url(b0e6e87ec4661eb2aea67ed888a4f881.png) lightgray 50% / cover no-repeat;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}


.scriptsContainer {
    display: flex;
    max-width: 1280px;
    margin: 6.75rem auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.whyUsContainer, .ourTeamContainer {
    display: flex;
    max-width: 1280px;
    margin: 6.75rem auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}








.scriptsLabel, .ourTeamLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem 1rem;
    border-radius: 1.25rem;
    background: linear-gradient(270deg, rgba(0, 13, 30, 0.56) 0%, rgba(22, 51, 84, 0.56) 100%);
    backdrop-filter: blur(30px);
    margin-bottom: 0.5rem;
    gap: 0.5rem;

}

.scriptsLabel h2, .ourTeamLabel h2 {
    color: #FFF;
    text-align: center;

    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
}

.fa-people-group {
    color: #71B6D5;
    font-size: 0.9rem;
}


.fa-question {
    font-size: 0.75rem;
    color: #71B6D5;
}

.fa-code {
    font-size: 0.7rem;
    color: #71B6D5;
}

.fa-comment {
    font-size: 0.7rem;
    color: #71B6D5;
}

.fa-chart-simple {
    font-size: 0.8rem;
    color: #71B6D5;
}

.mainScriptsLabel, .mainOurTeamsLabel {
    color: rgba(255, 255, 255, 0.83);
    text-align: center;
    font-family: Onest;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 4rem;
}

.SliderBtns {
    margin-top: 1rem;
}

.SliderBtns button {
    all: unset;
    padding: 0.2rem 0.7rem;
    border-radius: 1.25rem;
    background: #D9D9D9;
    color: #676767;
}

.SliderContainer {
    display: flex;
    padding: 3rem;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    max-width: 70.3505rem;
    height: 26.0625rem;
    border-radius: 2.5rem;
    background: linear-gradient(270deg, rgba(115, 115, 115, 0.05) 0%, rgba(0, 0, 0, 0.79) 100%), url(https://s3-alpha-sig.figma.com/img/5552/75eb/e9b0b8397b030bd5deb05ec1cd91d674?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=O2H3ygZvtarQSdZeGL~wV-jkrwOzYlcRopK0Qnh8Tr6gcs5JvqtdqpVfb5MbjX2Ae1jgx6GLy0beBADk7WANwXwVktNG5wwCXR-gxKf-sEFh67soKMtDj0hk6EozJeAy6XtVxqjy-y~YLkToOF-xQaR0bhrw7AsDnetjxlGtUklkpBZRU36AyZybp3W0ICERArBmd5KoYsgdrwsYxCLvtzq3Ql5bzzDu3Fl0889PqOE2PQtHqmrGUt5-uqt4Tn22B~cQWPRTmOzbNWm3y-7IeC65UHLgFxRleyOSAg9wyfjpR6pOaipqdWNSpIUZwLnEEtk~0D~ecLNHJ6zjIaLY3w__) lightgray 50% / cover no-repeat;
}

.SliderContainer h2 {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
}

.SliderContainer p {
    max-width: 27.8125rem;
    color: #BDBDBD;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;

}

.script1 {
    margin-left: -70rem;
    margin-top: 2.5rem;
    position: absolute;
z-index: 1;
    width: 7.93344rem;
    height: 23.11781rem;
    border-radius: 2.5rem;
    background: linear-gradient(270deg, rgba(115, 115, 115, 0.05) 0%, rgba(0, 0, 0, 0.79) 100%), url(https://s3-alpha-sig.figma.com/img/5552/75eb/e9b0b8397b030bd5deb05ec1cd91d674?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=O2H3ygZvtarQSdZeGL~wV-jkrwOzYlcRopK0Qnh8Tr6gcs5JvqtdqpVfb5MbjX2Ae1jgx6GLy0beBADk7WANwXwVktNG5wwCXR-gxKf-sEFh67soKMtDj0hk6EozJeAy6XtVxqjy-y~YLkToOF-xQaR0bhrw7AsDnetjxlGtUklkpBZRU36AyZybp3W0ICERArBmd5KoYsgdrwsYxCLvtzq3Ql5bzzDu3Fl0889PqOE2PQtHqmrGUt5-uqt4Tn22B~cQWPRTmOzbNWm3y-7IeC65UHLgFxRleyOSAg9wyfjpR6pOaipqdWNSpIUZwLnEEtk~0D~ecLNHJ6zjIaLY3w__) lightgray 50% / cover no-repeat;
}


.script2 {
    margin-right: -70rem;
    margin-top: 2.5rem;
    position: absolute;
    z-index: 1;
    width: 7.93344rem;
    height: 23.11781rem;
    border-radius: 2.5rem;
    background: linear-gradient(90deg, rgba(115, 115, 115, 0.05) 0%, rgba(0, 0, 0, 0.79) 100%), url(https://s3-alpha-sig.figma.com/img/5552/75eb/e9b0b8397b030bd5deb05ec1cd91d674?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=O2H3ygZvtarQSdZeGL~wV-jkrwOzYlcRopK0Qnh8Tr6gcs5JvqtdqpVfb5MbjX2Ae1jgx6GLy0beBADk7WANwXwVktNG5wwCXR-gxKf-sEFh67soKMtDj0hk6EozJeAy6XtVxqjy-y~YLkToOF-xQaR0bhrw7AsDnetjxlGtUklkpBZRU36AyZybp3W0ICERArBmd5KoYsgdrwsYxCLvtzq3Ql5bzzDu3Fl0889PqOE2PQtHqmrGUt5-uqt4Tn22B~cQWPRTmOzbNWm3y-7IeC65UHLgFxRleyOSAg9wyfjpR6pOaipqdWNSpIUZwLnEEtk~0D~ecLNHJ6zjIaLY3w__) lightgray 50% / cover no-repeat;
}

.sliderButtonsContainer {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.fa-chevron-left, .fa-chevron-right {
    color: #D9D9D9;
    font-size: 0.7rem;
}

.crcle1,.crcle2,.crcle3,.crcle4,.crcle5 {
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 0.625rem;
    background: #D9D9D9;

}

.feedbackLabel, .whyUsLabel {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    padding: 0.4rem 1rem;
    border-radius: 1.25rem;
    background: linear-gradient(270deg, rgba(0, 13, 30, 0.56) 0%, rgba(22, 51, 84, 0.56) 100%);
    backdrop-filter: blur(30px);
    margin-bottom: 0.5rem;

}

.feedbackLabel h2, .whyUsLabel h2 {
    color: #FFF;
    text-align: center;

    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;

}

.mainWhyUsLabel {
    color: rgba(255, 255, 255, 0.83);
    text-align: center;
    font-family: Onest;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 4rem;
}



.mainFeedbackLabel {
    color: rgba(255, 255, 255, 0.83);
    text-align: center;
    font-family: Onest;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 4rem;
}

.feedbackContainer {

    display: flex;
    max-width: 1280px;
    margin: 6.75rem auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}






.stat1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stat1 h2 {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;

}

.stat1 h3 {
    color: #BDBDBD;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
}



.statsLabel {
    display: flex;
    justify-content: center;
    align-items: center;
padding: 0.4rem 1rem;
    border-radius: 1.25rem;
    background: linear-gradient(270deg, rgba(0, 13, 30, 0.56) 0%, rgba(22, 51, 84, 0.56) 100%);
    backdrop-filter: blur(30px);
    margin-bottom: 0.5rem;
    gap: 0.5rem;

}

.statsLabel h2 {
    color: #FFF;
    text-align: center;

    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;

}

.mainStatsLabel {
    color: rgba(255, 255, 255, 0.83);
    text-align: center;
    font-family: Onest;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 4rem;

}

.statsContainer {
    display: flex;
    max-width: 1280px;
    margin: 6.75rem auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}




.faqLabel {
    display: flex;
    justify-content: center;
    align-items: center;
padding: 0.4rem 1rem;
    border-radius: 1.25rem;
    background: linear-gradient(270deg, rgba(0, 13, 30, 0.56) 0%, rgba(22, 51, 84, 0.56) 100%);
    backdrop-filter: blur(30px);
    margin-bottom: 0.5rem;
    gap: 0.5rem;

}

.faqLabel h2 {
    color: #FFF;
    text-align: center;
    
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;

}

.mainFaqLabel {
    color: rgba(255, 255, 255, 0.83);
    text-align: center;
    font-family: Onest;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 4rem;
}

.faqContainer {
    display: flex;
    max-width: 1280px;
    margin: 6.75rem auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.discordContainer {

    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: space-between;

    min-height: 24.375rem;
    border-radius: 1.25rem;
    border: 1px solid #07F;
    background: rgb(68, 79, 197);
    box-shadow: 0px 4px 36.3px 5px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
}

.testt {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}




.discordText {
    padding: 5rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.discordText h2 {
    max-width: 35.875rem;
    color: #FFF;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.125rem;
}
.discordText p {
    max-width: 44.5rem;
    color: rgba(253, 253, 253, 0.53);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;

}

.discordText button {
    all: unset;
    padding: 1rem 1rem;
    max-width: 11rem;
    border-radius: 1.875rem;
    background: #8395DF;
    color: #FFF;
    text-align: center;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    transition: all .4s;
}

.discordText button:hover {
position: relative;
    margin-bottom: 0.2rem;
    margin-top: -0.2rem;
    border-radius: 1.875rem;
    background: #8395DF;
    box-shadow: 0px 4px 14.5px 0px #8395DF;
}

footer {
    display: flex;
    max-width: 1280px;
    margin: 10.75rem auto 0 auto;
    justify-content: space-between;



}




.brand {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 0 1rem 0;

}

.brand img {
    width: 3.25rem;
    height:3.25rem;
    flex-shrink: 0;
    margin-right: 0.5rem;
}

.brand h2 {
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;

}

.leftSide {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.leftSide h3 {
    color: rgba(253, 253, 253, 0.53);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    max-width: 42.125rem;
    margin-bottom: 2.13rem;

}

.leftSide h4 {

    color: rgba(253, 253, 253, 0.35);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    max-width: 42.125rem;
    margin-bottom: 2rem;

}

.rightSide {
    display: flex;
    flex-direction: column;
    margin-top: 0.6rem;
}


.rightSide h2 {
    color: #FFF;
text-align: end;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 1.82rem;

}

.refsContainerv2 {
    display: flex;
justify-content: flex-end;
    gap: 1rem;

}

.refsContainerv2 h3 {
    color: rgba(253, 253, 253, 0.53);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-size: 1rem;
    font-style: normal;
    font-weight: 300;

}

.refsContainer {
    display: flex;
    justify-content: flex-end;
gap: 1rem;

}

.refsContainer h3 {
    color: rgba(253, 253, 253, 0.53);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;

}


.迪克 {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 2.5rem 0;
}

.footerV2 {
    display: flex;
    max-width: 1280px;
    margin: 1rem auto;
    justify-content: space-between;
    align-items: center;

}

.footerV2 h2 {
    color: rgba(253, 253, 253, 0.30);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
}

.footerV2 button {
    all: unset;
padding: 1rem 2rem;
    border-radius: 3.125rem;
    border: 1px solid #163354;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footerLinkContainer {
    display: flex;
    justify-content: space-between;
    width: 15rem;
}


.footerLinkContainer h3, h4, h5 {
    color: rgba(253, 253, 253, 0.30);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
}

.fa-arrow-up {
    color: white;
}

.feedContainer {
flex-wrap: wrap;
    gap: 1.56rem;
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: center;
}

.feed1 {
    width: 25.4375rem;
    height: 15.25rem;
    border-radius: 1.25rem;
    border: 1px solid #163354;
    background: linear-gradient(180deg, rgba(0, 13, 30, 0.56) 10.5%, rgba(22, 51, 84, 0.34) 100%);
    backdrop-filter: blur(30px);
    padding: 3rem 2rem ;
   display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.feed1 h2 {
    max-width: 21.3125rem;
    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;

}

.feedCustomer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.feedCustomer img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 3.125rem;

}

.feedTxt h3 {
    color: #FFF;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;

}

.feedTxt h4 {
    color: #A7A7A7;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 300;
}


.statsMain {
    width: 100%;
    display: flex;
    max-width: 79.625rem;
    height: 15.25rem;
    border-radius: 1.25rem;
    background: linear-gradient(90deg, #163354 0%, rgba(0, 0, 0, 0.00) 50%, #163354 100%);
}

.blur {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 1.25rem;
    border: 1px solid #163354;
    background: rgba(0, 13, 30, 0.74);
    box-shadow: 0px 4px 36.3px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
}

.faq1 {
    display: flex;
align-items: center;
    gap: 8.56rem;
    border-bottom: 2px solid #646464;
    border-radius: 2px;
    padding-bottom: 2.44rem;
    margin-bottom: 2.81rem;

}

.fa-plus {
    color: #A2A2A2;

}

.faq1 h2 {
    color: #BDBDBD;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
}

.circle1 {
    margin-top: 20rem;
    position: absolute;
    z-index: -1;
    width: 64.75rem;
    height: 31.25rem;
    border-radius: 64.75rem;
    background: #06203E;
    filter: blur(250px);
}

.light1 {
    margin-top: -80rem;
    position: absolute;
    z-index: -1;
    width: 54.00525rem;
    height: 1rem;
    margin-left: -50rem;
    background: #FFF;
    filter: blur(100px);
    transform: rotate(35deg);
}

.light2 {
    margin-top: -80rem;
    position: absolute;
    z-index: -1;
    width: 54.00525rem;
    height: 1rem;
    margin-left: -5rem;
    background: #FFF;
    filter: blur(100px);
    transform: rotate(35deg);
}




@media screen and (max-width: 800px) {
    .testt img {
        display: none;
    }

}



.whyUsItemContainer {
    flex-wrap: wrap;
    gap: 1.56rem;
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: space-between;
}

.whyUs1 {
    display: flex;
flex-direction: column;
    align-items: flex-start;
  max-width: 22.69rem;
    flex-shrink: 0;
    flex-wrap: wrap;
margin-bottom: 2rem;

}

.whyUs1 i {
    color: #71B6D5;
    font-size: 2rem;
    margin-bottom: 1rem;
}


.whyUs1 h4 {
    color: rgba(255, 255, 255, 0.89);
    text-align: center;

    font-size: 1rem;
    font-style: normal;
    font-weight: 400;

}

.whyUs1 h5 {
    color: rgba(255, 255, 255, 0.45);

    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    margin-top: 0.3rem;

}

.ourTeamItemContainer {
    flex-wrap: wrap;
    gap: 1.56rem;
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: center;
}

.ourTeam1 {
    width: 23.625rem;
    height: 29.125rem;
    border-radius: 3.125rem;
    background: url(https://s3-alpha-sig.figma.com/img/65e2/39fe/5580932cbdab65eac598400b52bbaee7?Expires=1730678400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=nnFq8nuFVxVuNAcJXsbMKwgNZF83VPkyOgDbJ1h5cVJGu1o9rdJfT-IknAz60Tm23M8vQj5mCLtjSrP6Q0E-LuZGNiEaCPwaAKiH9kIPf6IMQ1OxcPGeR0YKWqKgsRVgSV-ztLyUu7~x8oLeanYxWAuV7hDO6gUPbrhTYvZHiNFEaNKgZKiTwEBFCoRnm~dqY3aNzj4wqCo78d2FzayYC3LjAAV3v7vFj~FtwV-3S0NvMgU3~36TFJaCu1OruKo7GudP-KbDF5miaYemKMDzFk~RusFI2NqCAsv9ymHE92hUHgk9zm~sYBISwZiM5UHwkc0zu4lhEmvKW7TV71g7Vw__) lightgray 50% / cover no-repeat;
display: flex;
    align-items: flex-end;
    justify-content: center;

}

.termi {
    background: url(Designer.jpeg) lightgray 50% / cover no-repeat;

}

.info {
    width: 20.1875rem;
    min-height: 9.75rem;
    border-radius: 1.25rem;
    background: rgba(57, 61, 76, 0.56);
    backdrop-filter: blur(30px);
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    padding-right:  0.5rem;

}

.info h4 {
    color: #FFF;

margin: 1rem 0 0.1rem 1rem;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;


}

.info h5 {
    color: rgba(255, 255, 255, 0.48);
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    margin: 0 0 1rem 1rem;

}

.info p {
    color: rgba(255, 255, 255, 0.48);

    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    margin: 0 0 1rem 1rem;

}


.sliderLeftImg {
    width: 7.93344rem;
    height: 23.11781rem;
    border-radius: 2.5rem;
    background: url(e9b0b8397b030bd5deb05ec1cd91d674.png) lightgray 50% / cover no-repeat;
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    margin-right: -5rem;
    z-index: -1;
}

.sliderRightImg {
    width: 7.93344rem;
    height: 23.11781rem;
    border-radius: 2.5rem;
    background: url(e9b0b8397b030bd5deb05ec1cd91d674.png) lightgray 50% / cover no-repeat;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
margin-left: -5rem;
    z-index: -1;
}

.abc {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

@media screen and (max-width: 1240px) {
    .whyUsItemContainer {
        justify-content: center;
    }

}

@media screen and (max-width: 659px) {
    footer {
        flex-direction: column;
        align-items: flex-start;
    }
    .rightSide {
     align-items: flex-start;
    }
}





