* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000D1E;
}

main {
    width: 100vw;
    height: 100vh;
display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer {
    width: 30.125rem;
    height: 38rem;
    border-radius: 3.6875rem;
    background: rgba(0, 19, 78, 0.10);
    backdrop-filter: blur(40px);
}